*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{ 
    background-color: white;
    font-family: 'Alegreya Sans SC', sans-serif;
}
.contenedor{
   margin: auto;
   background-color: white;
   width: 100%;
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 0.5fr 1.5fr 0.5fr;
   grid-template-areas: 
   "header"
   "main"
   "footer";
}
.envio{
    background-color: black;
    padding: 10px;
}
h4{
    color:white;
    text-align: center;
    letter-spacing: 2.5px;
}
.logoo img{
    border-radius: 50px;
    width: 200px;
}
.logoo .imagen{
    display: flex;
    justify-content: center;
    padding: 0.5rem;
}
.header{
    grid-area: header;
    padding-bottom: 0.5rem;
    background-color: white;
    width: 100%;
}
.barra{
    grid-area: nav;
    width:100%;
    background-color: gray;
    font-family:  system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 20px;   
}
.barra ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
.barra ul ul{
    display: none;
}
.botom{
    display: inline-block;
    width: 25%;
    position: relative;
    text-align: center;
    padding: 10px;
    margin: 20px;
}

.botom :hover{
    background-color: white;
    color: rgb(71, 69, 69);
    border-radius:20px;
}
.botomSub :hover{
    background-color: white;
    color: rgb(71, 69, 69);
    border-radius:20px;
}
.botomSub{
    display: inline-block;
    width: 25%;
    position: relative;
    text-align: center;
    padding: 10px;
    margin: 20px;
}
.botomSub li a:hover {
    background-color: gray;
    color: white;
    border-radius: 10px;

}
ul li a{
    padding: 20px;
    text-decoration: none;
    color: black 
}
ul ul li{
    display: block;
}
ul ul{
    position: absolute;
}
ul li:hover ul{
    display: block;
    color: black;
    background-color: gray;
    padding: 0.8rem;
    margin: 0.8rem;
    border-radius: 5px;
    border: solid 3px black;
}
ul li ul a{
    display: block;
    padding: 0.5;
    margin: 0.5;
}
.main{ 
    grid-area: main;
    background-color: white;
    width:90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}
.contInicio{
    width: auto;
    display: flex;
    justify-content: center;
}
.imgInicio{
    margin: auto;
    padding: 1rem;
}
.imgInicio :hover{
    background-color: white;
    color: rgb(71, 69, 69);
    border-radius:20px;
    border: solid  rgb(71, 69, 69) 3px;
}
.imgCategoriaRemeras{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}
.imgCategoriaShort{
    display: flex;
    justify-content: center;
    padding: 1rem;
}
.imgCategoriaBuzos{
    display: flex;
    justify-content: center;
    padding: 1rem;
}
.imgCategoriaZapatillas{
    display: flex;
    justify-content: center;
    padding: 1rem;
}
h1{
    text-align: center;
    
}
.footer{
    grid-area: footer;
    text-decoration: none;
    padding: 10px;
    margin: 0.5rem;
    color: black
}
.footer a{
    text-decoration: none;
    color: black;
}
img{
    width: 300px;
}